.menu-bar{
    /* background-image: linear-gradient(-90deg, #ffc8c8, #ff5858); */
    background-image: linear-gradient(-90deg, #9fccfa, #0974f1);
}

.navbar-brand{
    color: #fff!important;
    margin: 9px 0;
    margin-left: 20px;
}

.nav-link{
    font-size: 16px;
    margin: 3px;
    color: #f8f9fa!important;
    font-weight: 500;
    border: 2px solid transparent;

}

.navbar-nav{
    text-align: right;
    margin-right: 20px;
}

.nav-link:hover{
    border-bottom: 2px solid #0974f1;
}
